h1 {
   text-align: center;
}

.wrapper, table {
   width: 1000px;
   margin: 0 auto 100px auto;
}

.tabstyle th,
.tabstyle td {
   padding: 20px;
   border: 1px solid #999999;
}

.tabstyle th {
   font-size: 30px;
   background: #434343;
   color: #fff;
}

.tabstyle td {
   font-size: 25px;
}

.list {
}
.list__block {
   display: inline-block;
   width: 320px;
}

.list__mr {
   margin-right: 20px;
}
